<h1>Tool Rental</h1>

<% @tools.each do |t| %>
  <div class="row <%=t.available%>">
    <div class="col-lg-4">
      <%= t.name %>
    </div>
    <div class="col-lg-4">
      <%= t.quantity %>
    </div>
    <div class="col-lg-4 rental">
      <%= link_to "Checkout #{t.name}", tool_path(t.id) %>
    </div>
  </div>
  <hr>
<% end %>
