<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<h2>Sign In here</h2>
or
<strong>Connect with </strong>
<%= link_to image_tag("twitter-logo_long.png"), "/auth/twitter", class: "logo" %>
</div>
<%= render "shared/member_signin" %>
