<div class="twitter-signin">
  <strong>Sign Up here</strong>
   or
  <strong>Connect with </strong>
  <%= link_to image_tag("twitter-logo_long.png"), "/auth/twitter", class: "logo" %>
  </div>
<%= render "shared/member_form" %>
