<div style="float:left; width: 160px;">
  <div id="nav"></div>
</div>
<div style="margin-left: 160px;">
  <div id="dp"></div>
</div>

<script type="text/javascript">
var dp = new DayPilot.Calendar("dp");
dp.viewType = "Week";

var event_hash = $("#events").attr( "data-url" );
var json_events = JSON.parse(event_hash);

for(i=0; i < json_events.length; i++) {
  var start_date = json_events[i]["start"].match(/[^"].{18}/)[0];
  json_events[i].start = start_date.toString();

  var end_date = json_events[i]["end"].match(/[^"].{18}/)[0];
  json_events[i].end = end_date.toString();
}

dp.events.list = json_events;
dp.init();

var nav = new DayPilot.Navigator("nav");
nav.showMonths = 3;
nav.skipMonths = 3;
nav.selectMode = "week";
nav.init();

nav.onTimeRangeSelected = function(args) {
  dp.startDate = args.day;
  dp.update();
  loadEvents();
};

// Changing Default Behavior of Calendar


</script>
