<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<form action="/events" method="post">
  <label for="startdatetime">Start time and date:</label>
  <input id="startdatetime" type="text" >

  <label for="enddatetime">End time and date:</label>
  <input id="enddatetime" type="text" >

  <input type="submit" name="Submit" value="Submit">
</form>

<%= render "shared/calendar_month" %>
<%= render "shared/calendar_week" %>

<script charset="utf-8">
$('#startdatetime').datetimepicker({
  datepicker:true,
  format:'m/d/Y H:i'
});

$('#enddatetime').datetimepicker({
  datepicker:true,
  format:'m/d/Y H:i'
});
</script>
