<h2>Events</h2>
<% @events.each do |event| %>
  <div>
    <strong><%= event.title %></strong>
  </div>
  <div>
    Date: <%= event.start_time.strftime("%A, %d %b %Y, %l:%M %p") %> - <%= event.end_time.strftime("%A, %d %b %Y, %l:%M %p") %>
  </div>
  <div>
    <%= event.details %>
  </div>
  <hr>
<% end %>
