<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<%= javascript_tag do %>
  window.eventsURL = '<%= j events_url %>';
<% end %>

<%= content_tag "div", id: "events", data: {url: @events} do %>
  <!-- This is where the Events are hidden -->
<% end %>

<!-- <%#= render "shared/calendar_month" %> -->
<%= render "shared/calendar_week" %>
