<h2>Events</h2>
<% @events.each do |event| %>
  <div>
    <strong><%= event.title %></strong>
  </div>
  <div>
    Date: <%= event.start_time %> - <%= event.end_time %>
  </div>
  <div>
    <%= event.details %>
  </div>
  <hr>
<% end %>
