// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post p {
  text-align: left;
}

.post div {
  display: inline-block;
}

.read-more {
  float: right;
}

.next {
  float: right;
}

.previous {
  float: left;
}
