// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Backgroung image
#bigdiv {
  background: image-url("peony.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

// Leftbox
.leftbox {
  display: block;
  padding: 20px;
}

.leftbox h2 {
  margin: 0;
  color: white;
  padding-left: 20px;
}

//rightbox
.rightbox {
  color: white;
  padding: 20px;
}

.rightbox h2 {
  margin: 0;
  padding: 0 20px;
}

//innerbody of home page divs
.innerbody {
  padding: 20px;
  background-color: rgba(0, 0, 0, .7);
  margin: 20px;
  color: white;
  border-top: 5px solid #86bc76;
}

//Entire Navbar
.nav-bar {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0px;
  background-color: #3d3c3c;
  color: white;
  border-bottom: 5px solid #86bc76;
}

// PPatch Logo
.logo1 {
  margin-top: 10px;
  padding-left: 20px;
  display: inline-block;
  color: white;
}

.logo1:hover {
  color: #86bc76;
  text-decoration: none;
}

.nav-bar span {
  display: inline-block;
}

.link-header {
  float: right;
  padding: 40px 20px 0 20px;
  font-size: 16px;
}

.link-header a {
  padding-right: 50px;
  color: white;
}

.signin-header {
  float: right;
  margin: 40px 20px 0 20px;
  font-size: 16px;
}

.signin-header a {
  color: #e86d79;
}

.container {
  text-align: center;
  margin-top: 140;
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    height: 210px;
  }
}
