// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Logo //
.logo img{
  height: 40px;
  width: auto;
}

.twitter-signin {
  display: inline-block;
  font-size: 16px;
}

.twitter-signin strong {
  font-size: 18px;
}

.twitter-signin img {
  border-radius: 6px;
  margin-top: -5px;
}
