<!DOCTYPE html>
<html>
<head>
  <title>PPathLightyellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <header>
    <h1>P-Patch</h1>
    <ul>
      <li>Events</li>
      <li>Calendar</li>
      <li>Tool Library</li>
      <li>News</li>
      <li>Weather</li>
    </ul>
  </header>
<%= yield %>

</body>
</html>
